/*==========================Overwiev====================================*/ 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ead8ed;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.brand-name{
    font-family: "Luxurious Script";
    font-size: 30px;
    color: #003eff;
}

.brand {
    height: 100px;
    width: 100px;
}

.elegant{
    font-family: "Luxurious Script";
    font-size: 60px;
}

/*===========================header section============================*/
.header{
    position: relative;
    min-height: 100px;
    background-color: #590b31;;
}

.header-content{
	max-height: 100px;
	display: flex;
	justify-content: space-between;
}

.header-logo{
    position: absolute;
    left:43%;
    bottom: 0%;
}

.p-danger{
    color: red;
    font-size: 24px;
}

.menu{
    position: absolute;
    right: 10%;
    top: 30%;
}

.nav-menu a{
    text-decoration: none;
}

.nav-menu li{
     display: inline-block;
}

.nav-menu:hover{
    border: 1px dashed purple;
}

.nav-menu li:hover{
    border: 1px solid #003eff;
}

.service-panel li{
    display: block;
    color: azure;;
}

/* =======================Banner section====================== */

#banner{
    height: 500px;
}

/*===============================Darkline section==================================*/

#darkline {
	background-image: url(../img/wedding-fon2.jpg);
	background-size: cover;
	background-attachment: fixed;
	min-height: 300px;
	position: relative;
}

.overline {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
}

/*============================Slider-box section================================*/
.slider-item{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid indianred;
    border-radius: 50%;
    background-color: transparent;
    
 }

 .slick-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    color: #000;
    font-family: 'fontawesome';
 }

.slick-btn:hover,
.slick-disaled{
    cursor: default;
    background-color: #da9ded;
 }

.slick-next{
    right: 0;
 }

.slick-prev{
    left: 0;
 }

.slick-next:before{
    position: absolute;
    top: 0%;
    left: 0%;
 }

.slick-prev:before{
    position: absolute;
    top: 0%;
    left: 0%;
 }

.slider.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider.slick-dots li{
    list-style: none;
    margin-left: 40px;
}

.slider.slick-dots button{
    font-size: 0;
    z-index: 3;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: #000;
}

/*===============================Darktape section==================================*/

#line {
	background-image: url(../img/1wedding-house.jpeg);
	background-size: cover;
	background-attachment: fixed;
	min-height: 300px;
	position: relative;
}

.blackline {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
}

/* ============================Footer section=============================== */

.footer{
    position: relative;
    height: 400px;
    background-color: #590b31;
    color: azure;
}

.footer li{
    color: azure;
    padding: 10px;
    font-size: 18px;
}

.footer-bottom{
    position: absolute;
    top: 85%;
    left: 35%;
}

.footer-text{
    font-family: san-serif;
    font-size: 20px;
}

/*===========================================Hex, colors warehouse=======================================*/

/*!* purple; dodgerblue;   #dd0de0; #777da1; #774da1; #9557d4; #a80de0; background-color: rgba(189, 156, 217, 0.6);*/
