/*==========================Overwiev====================================*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}


/*===========================================Hex, colors warehouse=======================================*/

/*!* purple; dodgerblue;  #dd0de0; #777da1; #774da1; #9557d4; #a80de0; background-color: rgba(189, 156, 217, 0.6);*/