/*==========================Overwiev====================================*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.brand-name{
    font-family: "Luxurious Script";
    font-size: 40px;
    color: #003eff;
}

.brand {
    height: 100px;
    width: 100px;
}

.elegant{
    font-family: "Luxurious Script";
    font-size: 20px;
}

/*===========================header section============================*/
.header{
    position: relative;
    min-height: 100px;
    background-color: blueviolet;
}

.header-content{
	max-height: 100px;
	display: flex;
	justify-content: space-between;
}

.header-logo{
    position: absolute;
    left:43%;
    bottom: 0%;
}

.menu{
    position: absolute;
    right: 10%;
    top: 30%;
}

.nav-menu a{
    text-decoration: none;
}

.nav-menu li{
     display: inline-block;
}

.nav-menu:hover{
    border: 1px dashed purple;
}

.nav-menu li:hover{
    border: 1px solid #003eff;
}

.service-panel li{
    display: block;
    color: azure;;
}

/* =======================Banner section====================== */






/*===========================================Hex, colors warehouse=======================================*/

/*!* purple; dodgerblue;  #dd0de0; #777da1; #774da1; #9557d4; #a80de0; background-color: rgba(189, 156, 217, 0.6);*/